body { background-image: url(https://i.pinimg.com/originals/22/55/0d/22550d50bc930e6802d8b65313b49c87.jpg);
    background-size: 1750px;
    background-repeat: no-repeat;
}

h1{
    box-shadow:hotpink;
}